WEB/static/model/yolov5/__init__.py
WEB/static/model/16_1000_best.pt
WEB/static/model/yolov5/.dockerignore
WEB/static/model/yolov5/.gitattributes
WEB/static/model/yolov5/.gitignore
WEB/static/model/yolov5/benchmarks.py
WEB/static/model/yolov5/CITATION.cff
WEB/static/model/yolov5/CONTRIBUTING.md
WEB/static/model/yolov5/de_identification.py
WEB/static/model/yolov5/detect.py
WEB/static/model/yolov5/export.py
WEB/static/model/yolov5/hubconf.py
WEB/static/model/yolov5/LICENSE
WEB/static/model/yolov5/pyproject.toml
WEB/static/model/yolov5/README.md
WEB/static/model/yolov5/README.zh-CN.md
WEB/static/model/yolov5/requirements.txt
WEB/static/model/yolov5/run.py
WEB/static/model/yolov5/sort.py
WEB/static/model/yolov5/train.py
WEB/static/model/yolov5/tutorial.ipynb
WEB/static/model/yolov5/val.py
WEB/static/model/yolov5/.github/dependabot.yml
WEB/static/model/yolov5/.github/ISSUE_TEMPLATE/bug-report.yml
WEB/static/model/yolov5/.github/ISSUE_TEMPLATE/config.yml
WEB/static/model/yolov5/.github/ISSUE_TEMPLATE/feature-request.yml
WEB/static/model/yolov5/.github/ISSUE_TEMPLATE/question.yml
WEB/static/model/yolov5/.github/workflows/ci-testing.yml
WEB/static/model/yolov5/.github/workflows/cla.yml
WEB/static/model/yolov5/.github/workflows/codeql-analysis.yml
WEB/static/model/yolov5/.github/workflows/docker.yml
WEB/static/model/yolov5/.github/workflows/format.yml
WEB/static/model/yolov5/.github/workflows/greetings.yml
WEB/static/model/yolov5/.github/workflows/links.yml
WEB/static/model/yolov5/.github/workflows/merge-main-into-prs.yml
WEB/static/model/yolov5/.github/workflows/stale.yml
WEB/static/model/yolov5/classify/predict.py
WEB/static/model/yolov5/classify/train.py
WEB/static/model/yolov5/classify/tutorial.ipynb
WEB/static/model/yolov5/classify/val.py
WEB/static/model/yolov5/data/Argoverse.yaml
WEB/static/model/yolov5/data/coco.yaml
WEB/static/model/yolov5/data/coco128_custom.yaml
WEB/static/model/yolov5/data/coco128-seg.yaml
WEB/static/model/yolov5/data/coco128.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_1k.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_16k.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_32k.yaml
WEB/static/model/yolov5/data/GlobalWheat2020.yaml
WEB/static/model/yolov5/data/ImageNet.yaml
WEB/static/model/yolov5/data/ImageNet10.yaml
WEB/static/model/yolov5/data/ImageNet100.yaml
WEB/static/model/yolov5/data/ImageNet1000.yaml
WEB/static/model/yolov5/data/mask.yaml
WEB/static/model/yolov5/data/Objects365.yaml
WEB/static/model/yolov5/data/SKU-110K.yaml
WEB/static/model/yolov5/data/VisDrone.yaml
WEB/static/model/yolov5/data/VOC.yaml
WEB/static/model/yolov5/data/xView.yaml
WEB/static/model/yolov5/data/hyps/hyp.no-augmentation.yaml
WEB/static/model/yolov5/data/hyps/hyp.Objects365.yaml
WEB/static/model/yolov5/data/hyps/hyp.scratch-high.yaml
WEB/static/model/yolov5/data/hyps/hyp.scratch-low.yaml
WEB/static/model/yolov5/data/hyps/hyp.scratch-med.yaml
WEB/static/model/yolov5/data/hyps/hyp.VOC.yaml
WEB/static/model/yolov5/data/images/bus.jpg
WEB/static/model/yolov5/data/images/zidane.jpg
WEB/static/model/yolov5/data/scripts/download_weights.sh
WEB/static/model/yolov5/data/scripts/get_coco.sh
WEB/static/model/yolov5/data/scripts/get_coco128.sh
WEB/static/model/yolov5/data/scripts/get_imagenet.sh
WEB/static/model/yolov5/data/scripts/get_imagenet10.sh
WEB/static/model/yolov5/data/scripts/get_imagenet100.sh
WEB/static/model/yolov5/data/scripts/get_imagenet1000.sh
WEB/static/model/yolov5/models/__init__.py
WEB/static/model/yolov5/models/common.py
WEB/static/model/yolov5/models/experimental.py
WEB/static/model/yolov5/models/tf.py
WEB/static/model/yolov5/models/yolo.py
WEB/static/model/yolov5/models/yolov5l.yaml
WEB/static/model/yolov5/models/yolov5m.yaml
WEB/static/model/yolov5/models/yolov5n.yaml
WEB/static/model/yolov5/models/yolov5s.yaml
WEB/static/model/yolov5/models/yolov5x.yaml
WEB/static/model/yolov5/models/hub/anchors.yaml
WEB/static/model/yolov5/models/hub/yolov3-spp.yaml
WEB/static/model/yolov5/models/hub/yolov3-tiny.yaml
WEB/static/model/yolov5/models/hub/yolov3.yaml
WEB/static/model/yolov5/models/hub/yolov5-bifpn.yaml
WEB/static/model/yolov5/models/hub/yolov5-fpn.yaml
WEB/static/model/yolov5/models/hub/yolov5-p2.yaml
WEB/static/model/yolov5/models/hub/yolov5-p6.yaml
WEB/static/model/yolov5/models/hub/yolov5-p7.yaml
WEB/static/model/yolov5/models/hub/yolov5-p34.yaml
WEB/static/model/yolov5/models/hub/yolov5-panet.yaml
WEB/static/model/yolov5/models/hub/yolov5l6.yaml
WEB/static/model/yolov5/models/hub/yolov5m6.yaml
WEB/static/model/yolov5/models/hub/yolov5n6.yaml
WEB/static/model/yolov5/models/hub/yolov5s-ghost.yaml
WEB/static/model/yolov5/models/hub/yolov5s-LeakyReLU.yaml
WEB/static/model/yolov5/models/hub/yolov5s-transformer.yaml
WEB/static/model/yolov5/models/hub/yolov5s6.yaml
WEB/static/model/yolov5/models/hub/yolov5x6.yaml
WEB/static/model/yolov5/models/segment/yolov5l-seg.yaml
WEB/static/model/yolov5/models/segment/yolov5m-seg.yaml
WEB/static/model/yolov5/models/segment/yolov5n-seg.yaml
WEB/static/model/yolov5/models/segment/yolov5s-seg.yaml
WEB/static/model/yolov5/models/segment/yolov5x-seg.yaml
WEB/static/model/yolov5/segment/predict.py
WEB/static/model/yolov5/segment/train.py
WEB/static/model/yolov5/segment/tutorial.ipynb
WEB/static/model/yolov5/segment/val.py
WEB/static/model/yolov5/segment/yolov5l-seg.yaml
WEB/static/model/yolov5/segment/yolov5m-seg.yaml
WEB/static/model/yolov5/segment/yolov5n-seg.yaml
WEB/static/model/yolov5/segment/yolov5s-seg.yaml
WEB/static/model/yolov5/segment/yolov5x-seg.yaml
WEB/static/model/yolov5/utils/__init__.py
WEB/static/model/yolov5/utils/activations.py
WEB/static/model/yolov5/utils/augmentations.py
WEB/static/model/yolov5/utils/autoanchor.py
WEB/static/model/yolov5/utils/autobatch.py
WEB/static/model/yolov5/utils/callbacks.py
WEB/static/model/yolov5/utils/dataloaders.py
WEB/static/model/yolov5/utils/downloads.py
WEB/static/model/yolov5/utils/general.py
WEB/static/model/yolov5/utils/loss.py
WEB/static/model/yolov5/utils/metrics.py
WEB/static/model/yolov5/utils/plots.py
WEB/static/model/yolov5/utils/torch_utils.py
WEB/static/model/yolov5/utils/triton.py
WEB/static/model/yolov5/utils/aws/__init__.py
WEB/static/model/yolov5/utils/aws/mime.sh
WEB/static/model/yolov5/utils/aws/resume.py
WEB/static/model/yolov5/utils/aws/userdata.sh
WEB/static/model/yolov5/utils/docker/Dockerfile
WEB/static/model/yolov5/utils/docker/Dockerfile-arm64
WEB/static/model/yolov5/utils/docker/Dockerfile-cpu
WEB/static/model/yolov5/utils/flask_rest_api/example_request.py
WEB/static/model/yolov5/utils/flask_rest_api/README.md
WEB/static/model/yolov5/utils/flask_rest_api/restapi.py
WEB/static/model/yolov5/utils/google_app_engine/additional_requirements.txt
WEB/static/model/yolov5/utils/google_app_engine/app.yaml
WEB/static/model/yolov5/utils/google_app_engine/Dockerfile
WEB/static/model/yolov5/utils/loggers/__init__.py
WEB/static/model/yolov5/utils/loggers/clearml/__init__.py
WEB/static/model/yolov5/utils/loggers/clearml/clearml_utils.py
WEB/static/model/yolov5/utils/loggers/clearml/hpo.py
WEB/static/model/yolov5/utils/loggers/clearml/README.md
WEB/static/model/yolov5/utils/loggers/comet/__init__.py
WEB/static/model/yolov5/utils/loggers/comet/comet_utils.py
WEB/static/model/yolov5/utils/loggers/comet/hpo.py
WEB/static/model/yolov5/utils/loggers/comet/README.md
WEB/static/model/yolov5/utils/loggers/wandb/__init__.py
WEB/static/model/yolov5/utils/loggers/wandb/wandb_utils.py
WEB/static/model/yolov5/utils/segment/__init__.py
WEB/static/model/yolov5/utils/segment/augmentations.py
WEB/static/model/yolov5/utils/segment/dataloaders.py
WEB/static/model/yolov5/utils/segment/general.py
WEB/static/model/yolov5/utils/segment/loss.py
WEB/static/model/yolov5/utils/segment/metrics.py
WEB/static/model/yolov5/utils/segment/plots.py
WEB/static/model/yolov5/data/Argoverse.yaml
WEB/static/model/yolov5/data/coco.yaml
WEB/static/model/yolov5/data/coco128_custom.yaml
WEB/static/model/yolov5/data/coco128-seg.yaml
WEB/static/model/yolov5/data/coco128.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_1k.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_16k.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_32k.yaml
WEB/static/model/yolov5/data/GlobalWheat2020.yaml
WEB/static/model/yolov5/data/ImageNet.yaml
WEB/static/model/yolov5/data/ImageNet10.yaml
WEB/static/model/yolov5/data/ImageNet100.yaml
WEB/static/model/yolov5/data/ImageNet1000.yaml
WEB/static/model/yolov5/data/mask.yaml
WEB/static/model/yolov5/data/Objects365.yaml
WEB/static/model/yolov5/data/SKU-110K.yaml
WEB/static/model/yolov5/data/VisDrone.yaml
WEB/static/model/yolov5/data/VOC.yaml
WEB/static/model/yolov5/data/xView.yaml
WEB/static/model/yolov5/data/Argoverse.yaml
WEB/static/model/yolov5/data/coco.yaml
WEB/static/model/yolov5/data/coco128_custom.yaml
WEB/static/model/yolov5/data/coco128-seg.yaml
WEB/static/model/yolov5/data/coco128.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_1k.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_16k.yaml
WEB/static/model/yolov5/data/face_detection_kaggle_32k.yaml
WEB/static/model/yolov5/data/GlobalWheat2020.yaml
WEB/static/model/yolov5/data/ImageNet.yaml
WEB/static/model/yolov5/data/ImageNet10.yaml
WEB/static/model/yolov5/data/ImageNet100.yaml
WEB/static/model/yolov5/data/ImageNet1000.yaml
WEB/static/model/yolov5/data/mask.yaml
WEB/static/model/yolov5/data/Objects365.yaml
WEB/static/model/yolov5/data/SKU-110K.yaml
WEB/static/model/yolov5/data/VisDrone.yaml
WEB/static/model/yolov5/data/VOC.yaml
WEB/static/model/yolov5/data/xView.yaml
WEB/static/model/yolov5/data/images/bus.jpg
WEB/static/model/yolov5/data/images/zidane.jpg
WEB/static/model/yolov5/data/images/bus.jpg
WEB/static/model/yolov5/data/images/zidane.jpg
