<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De-identification</title>
    <link href="{{ url_for('static', filename='css/inoutput.css') }}" rel="stylesheet">
</head>
<body>
    <!-- 뒤로 가기 버튼 -->
    <a href="{{ url_for('index') }}" class="back-button">
        <img id="backImage" src="{{ url_for('static', filename='img/team_logo.png') }}" alt="Back" class="back-icon"
             data-over-src="{{ url_for('static', filename='img/team_logo_white.png') }}"
             data-out-src="{{ url_for('static', filename='img/team_logo.png') }}">
    </a>

    <!--업로드 박스(회색 영역)-->
    <div class="upload-box drag-drop-area" id="uploadBox" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
        <form id="upload-form" action="/input/preview/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" accept="video/mp4" style="display:none;">
            <label for="file">
                <img src="{{ url_for('static', filename='img/upload.png') }}" class="upload-icon">
                <div class="upload-text">여기를 클릭하거나 파일을 드래그하여 비디오를 업로드하세요</div>
                <div class="upload-restrictions">MP4 파일만 업로드 가능합니다</div>
                <br>
                <div class="upload-text" id="uploadText"></div>
            </label>
            <script src="{{ url_for('static', filename='js/file_drag.js') }}"></script>
          
            <!--여기까지 업로드박스-->

            <!--업로드 버튼-->
            <button type="submit" class="hidden-button" id="uploadButton">
                <img src="{{ url_for('static', filename='img/upload_button.png') }}" alt="Upload" class="upload-button">
            </button>
        </form> 
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        function showLoadingPage() {
    const form = document.getElementById('upload-form');
    const formData = new FormData(form);
    fetch(form.action, {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (response.ok) {
            window.location.href = '/input/preview/';
        } else {
            alert('파일 업로드에 실패했습니다.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('업로드 중 오류가 발생했습니다');
    });
}


 </script>
</body>
</html>