<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De-identification</title>
    <link href="{{ url_for('static', filename='css/inoutput.css') }}" rel="stylesheet">
</head>
<body>
    <!-- 뒤로 가기 버튼 -->
    <a href="{{ url_for('index') }}" class="back-button">
        <img id="backImage" src="{{ url_for('static', filename='img/service_logo_p.png') }}" alt="Back" class="service-icon">
    </a>
    <div class="container">
        <div class="video-container">
            <video id="videoPlayer" controls autoplay loop muted >
                <source src="{{ url_for('static', filename='upload/preview.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="options-container">
            <form id="option-form" action="/input/upload/" method="POST">
                <select name="MODE" id="MODE">
                    <option value="none">===Select Mode===</option>
                    <option value="mode1">사각 모자이크</option>
                    <option value="mode2">타원 모자이크</option>
                    <option value="mode3">사각 블러</option>
                    <option value="mode4">타원 블러</option>
                </select>
                <button type="submit" class="hidden-button" id="startButton">
                    <img src="{{ url_for('static', filename='img/run_button.png') }}" alt="Upload" class="upload-button">
                </button>
            </form>
        </div>
    </div>
    
    
    <img src="{{ url_for('static', filename='img/team_logo.png') }}" alt="team_logo" class="teamlogo-image">

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var imgElement = document.getElementById('backImage');
        imgElement.addEventListener('mouseover', function() {
            this.src = "{{ url_for('static', filename='img/service_logo_k.png') }}";
        });
        imgElement.addEventListener('mouseout', function() {
            this.src = "{{ url_for('static', filename='img/service_logo_p.png') }}";
        });
    });
    </script>
</body>
</html>