.container {
    width: 75%; 
    height: 65%;
    border-top: 2px solid #8d8d8dc5;
    border-bottom: 2px solid #8d8d8dc5;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    text-align: center; 
    padding: 20px; 
    gap: 20px;
    background-color: #ffffff00;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.re-icon {
    width: 6%; /* 이미지 크기를 고정 크기로 설정 */
    position: fixed; /* 뷰포트에 고정된 위치를 설정 */
    bottom: 85%; /* 뷰포트의 상단에서 2% 아래에 위치 */
    left: 12%; /* 뷰포트의 오른쪽에서 5% 왼쪽에 위치 */
    transition: all 0.3s ease;

}
.service-icon {
    width: 6%; /* 이미지 크기를 고정 크기로 설정 */
    position: fixed; /* 뷰포트에 고정된 위치를 설정 */
    bottom: 85%; /* 뷰포트의 상단에서 2% 아래에 위치 */
    right: 12%; /* 뷰포트의 오른쪽에서 5% 왼쪽에 위치 */
    transition: all 0.3s ease;
}
.video-container, .dashed-box {
    flex: 7; /* 비율 7 */
    height: 100%; /* 부모 컨테이너 높이에 맞춤 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.side-container {
    flex: 3; /* 비율 3 */
    height: 100%; /* 부모 컨테이너 높이에 맞춤 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
#videoPlayer {
    display: flex;
    align-items: center; /* 비디오를 수직으로 중앙에 배치 */
    height: 100%; /* 비디오 컨테이너의 높이를 부모 컨테이너의 높이와 동일하게 설정 */
    width: 100%; /* 비디오를 수평으로 꽉 차게 설정 */
}
.dashed-box {
    width: 70%;
    height: 100%;
    border: 2px dashed #a9a9a9c5; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 5%;
    cursor: pointer;
    box-sizing: border-box;
}
.hidden-button {
    background: none; /* 버튼 배경 제거 */
    border: none; /* 버튼 테두리 제거 */
    padding: 0; /* 버튼 패딩 제거 */
    margin: 0; /* 버튼 마진 제거 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    width: 80px;
    height: 40px;
}
.upload-icon {
    max-width: 20%;
}
.upload-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.upload-restrictions {
    font-size: 14px;
    color: #666;
}

.upload-button, .download-button {
    width: 22%; /* 버튼의 높이를 조절하세요 */
    position: absolute; /* 절대 위치 설정 */
    bottom: 0%; /* 아래에서 5% 떨어진 위치로 설정 */
    right: 3%; /* 오른쪽에서 5% 떨어진 위치로 설정 */
    padding: 20px;
}
.back-button{
    top: 40px;
    left: 40px;
    position: absolute;
}
.teamlogo-image {
    max-width: 12%;
    position: absolute;
    bottom: 6%; 
    left: 50%;
    transform: translateX(-50%);
}
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
select {
    position: absolute;
    right: 6%;
    top: 70%;
    width: 20%;
    padding: 10px;
    font-size: 16px; 
    font: rgb(185, 185, 185);
    border: 1px solid #7f30bf; 
    border-radius: 5px;
    background-color: #fff; 
    appearance: none;
    cursor: pointer; 
    outline: #7f30bf;
    text-align-last: center;
}
/* 드롭다운 화살표 아이콘 스타일 */
select::-ms-expand {
    display: none; /* IE에서 드롭다운 화살표를 숨깁니다. */
}

/* 드롭다운 화살표 아이콘 스타일 */
select::after {
    content: '\25BC'; /* 화살표 아이콘을 설정합니다. */
    position: absolute; /* 절대 위치로 설정합니다. */
    top: 50%; /* 드롭다운 박스 상단에 아이콘을 위치시킵니다. */
    right: 10px; /* 오른쪽 여백을 설정합니다. */
    transform: translateY(-50%); /* 아이콘을 수직으로 가운데 정렬합니다. */
    pointer-events: none; /* 이벤트가 아이콘에 영향을 주지 않도록 설정합니다. */
    color: #666; /* 아이콘 색상을 설정합니다. */
}

