.upload-box, .container {
    width: 75%; 
    height: 70%;
    border-top: 2px solid #8d8d8dc5;
    border-bottom: 2px solid #8d8d8dc5;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    text-align: center; 
    padding: 20px; 
    background-color: #ffffff00;
    position: fixed; /* 뷰포트에 고정된 위치를 설정합니다. */
    top: 47%; /* 뷰포트의 세로 방향에서 50% 위치에 배치합니다. */
    left: 50%; /* 뷰포트의 가로 방향에서 50% 위치에 배치합니다. */
    transform: translate(-50%, -50%); /* 자신의 너비와 높이의 50%만큼 왼쪽과 위쪽으로 이동시켜 진정한 중앙에 배치합니다. */
    z-index: 999; /* 다른 요소들 위에 나타나도록 우선 순위를 높입니다. */
}
#videoPlayer {
    width: 100%;
    height: auto; /* 비디오 플레이어의 높이를 비디오의 가로세로 비율에 맞게 조정 */
}
.dashed-box {
    width: 70%;
    height: 100%;
    border: 2px dashed #a9a9a9c5; /* 점선 테두리 설정 */
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로 방향으로 정렬합니다. */
    justify-content: center; /* 자식 요소들을 수직 중앙에 배치합니다. */
    align-items: center; /* 자식 요소들을 수평 중앙에 배치합니다. */
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box; /* 패딩을 포함하여 너비와 높이를 계산합니다. */
}
.hidden-button {
    background: none; /* 버튼 배경 제거 */
    border: none; /* 버튼 테두리 제거 */
    padding: 0; /* 버튼 패딩 제거 */
    margin: 0; /* 버튼 마진 제거 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    width: 80px;
    height: 40px;
}
.upload-icon {
    max-width: 20%;
}
.upload-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.upload-restrictions {
    font-size: 14px;
    color: #666;
}

.upload-button{
    height: 80px; /* 버튼의 높이를 조절하세요 */
    position: absolute; /* 절대 위치 설정 */
    top: 80%; /* 위에서 50% 떨어진 위치로 설정 */
    right: 5%; /* 오른쪽에서 10% 떨어진 위치로 설정 */

}
#downloadImage {
    position: absolute;
    bottom: 0;
    right: 0; /* 이미지를 비디오 컨테이너의 우측 하단에 위치 */
    margin: 10px; /* 이미지와 비디오 컨테이너 사이의 여백 추가 */
}
.controls {
    text-align: center;
    margin-top: 20px;
}

.controls select, .controls button {
    margin: 10px;
}
.back-button{
    top: 40px;
    left: 40px;
    position: absolute;
}
.service-icon {
    width: 6%; /* 이미지 크기를 고정 크기로 설정 */
    position: fixed; /* 뷰포트에 고정된 위치를 설정 */
    top: 3%; /* 뷰포트의 상단에서 2% 아래에 위치 */
    right: 3%; /* 뷰포트의 오른쪽에서 5% 왼쪽에 위치 */
    transition: all 0.3s ease;
}
.teamlogo-image {
    max-width: 12%;
    position: absolute;
    bottom: 6%; 
    left: 50%;
    transform: translateX(-50%);
}
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-button {
    width: 200px; /* 버튼의 너비를 조절하세요 */
    height: 150px; /* 버튼의 높이를 조절하세요 */
    margin-top: 20px; /* 버튼 위쪽 여백 설정 */
}

.preview {
    color: rgb(156, 154, 162);
    font-size: 27px;
    margin-top: 3px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.reset-button {
    width: 20px; /* 버튼의 너비를 30px로 설정 */
    height: 10px; /* 버튼의 높이를 20px로 설정 */
    margin-top: 80px; /* 버튼 위쪽 여백 설정 */
    position: absolute; /* 절대 위치 설정 */
    top: 37px; /* 위에서 10px 떨어진 위치로 설정 */
    right: 13%; /* 오른쪽에서 10px 떨어진 위치로 설정 */
}

